h1 {
  color: #666;
}

.navbar-nav > li > a:hover {
  color: #ed564b !important;
  /*  In CSS, the !important means that “this is important”, ignore all the subsequent rules, and apply !important rule and the !important keyword must be placed at the end of the line, immediately before the semicolon */
}


.dropdown-content{
  display: none;
  position: absolute;
  background-color: #eee;
  list-style-type: none; /*removes bullet points*/
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content > li > a:hover {
  color: #ed564b !important; /*links turn red when hovered*/
}